# Next.js client configuration
NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_GOOGLE_CLIENT_ID=261611330993-abvp1dejjp8h6phtt9h2g4to981dssjd.apps.googleusercontent.com
# NEXT_PUBLIC_GOOGLE_CLIENT_ID=261611330993-abvp1dejjp8h6phtt9h2g4to981dssjd.apps.googleusercontent.com